body {
	background-image: url("https://qcapproved.files.wordpress.com/2012/10/12-10-10bay_teams1.jpg");
	height: 1100px; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.text-muted {
	color:whitesmoke
}
.last-seconds {
  color: red;
}
.option {
  margin: 15px;
}

.text-muted{
	color:gray;
	font-family: 'Acme', sans-serif;
	text-shadow: -3px 0 black;
}

h2{
	color:black;
	text-align: center;
	
}
